@model Animal;
@{
    ViewData["Title"] = "AddPet";
}

<h1>Thank you, @Model.Name added!</h1>

Species: @Model.Species <br/>
Color: @Model.Color <br/>
Gender: @Model.Gender <br/>
Weight: @Model.Weight <br/>
Born: @Model.Born <br/>